    body {
    		background-color: #77f442
	   }

	  a.header {
	       margin-bottom:0;
           margin-top: 1em;
	       color: black;
           font-size: 100em;
           text-align: center;
      }
	  table.center {
	       font-size: 1em;
	       
   	       margin-left:auto; 
           margin-right:auto;
           margin-top: 1em;
	       border-collapse: collapse;
           width: 30%;
           text-align: center;
      }
      
      h2 {
          margin-top: 2em;
          font-size: 40em;
      }
      
 
