<!DOCTYPE html>
<body>
    
    Please provide your email below so we can send in your request to cash out!
    
    
     <div style="width:100%; height:100%; text-align:center; margin-top: 2em"> 
     
     <form>
      Email:<br>
      <input type="text" name="email"><br>
     </form>
     <div style="width:100%; height:100%; text-align:center; margin-top: 2em"> 
     

     <div style="width:100%; height:100%; text-align:center; margin-top: 4em"> 
    <a class="btn btn-primary" href="/activities/cash_out" role="button">Send confirmation email </a>
    
   
    
    
</div>
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
  </body>
</html>