!!! 5
%html
  %head
    %title Cash For Class
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title BootStrap the CDN way
    / CSS and stuff from boot strap link
    %link{:crossorigin => "anonymous", :href => "app/assets/stylesheets/bootstrap.css", :integrity => "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", :rel => "stylesheet"}/
    / do not use default.css, simply go into bootstrap.css to change or add any css elements. If you use both, it gets conflicted and does not do css
    %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}

%body
  %div{:style => "text-align: center"}
    %img{:src => "https://preview.ibb.co/g1fqa7/Logo2.png", :style => "width:500px;height:90px;margin-top:10px"}
  %br
    %div
      - if user_signed_in?
        %nav.navbar.navbar-default{role: "navigation"} 
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Menu
                %b.caret
              %ul.dropdown-menu
                %li
                  =link_to "Home", root_path
                %li
                  =link_to "Student Earning", activities_earning_student_path
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "/users/sign_out"} Log Out
  %div{:style => "text-align: center"}  
    =yield
